.main_container {
    background-color: #EFEAE6;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.main_header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 2vh 3vh;
    font-size: 1rem;
    /* border-bottom: #000 2px solid; */
}

.logo {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    justify-content: flex-start;
}

.logo>p {
    font-size: 1.4rem;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 2vh;
    min-width: 10rem;
}

.new_project_bttn {
    /* margin-right: 5%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 2vh;
    min-width: 10rem;
    font-family: 'Comfortaa', sans-serif;
    transition: .3s linear;
}

.new_project_bttn:hover {
    /* box-shadow: 0 0 0 7px #EFEAE6, 0 0 0 12px #3B3C37; */
    box-shadow: 0 0 0 7px #EFEAE6, 0 0 0 12px #000;
}

.big_wrapper {
    flex: 1;
    /* height: 50%; */
    /* width: 100%; */
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    margin: 0.5rem 2rem
}

.menu {
    height: auto;
    /* padding: 0.5rem 0; */
    flex: 0.2;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.container {
    /* height: 50%; */
    /* width: 100%; */
    flex: 0.8;
    background-color: white;
    border-radius: 1rem;
}

.menu_item {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    justify-content: flex-start;
    color: #000;
    font-size: 1rem;
    text-align: left;
    font-family: 'Comfortaa', sans-serif;
    padding: 1rem;
    cursor: pointer;
    transition: .3s linear;
    border-radius: 10px;
    /* height: 100; */
    /* transition: .3s linear; */
}

.menu_item:hover {
    background-color: #000;

    color: #EFEAE6;
    /* border: 1px solid #000; */
}

/* .projects_item:hover{
    border: 3px solid #000;
} */


.projects_item { 
    margin: 2%;
    padding: 1rem 0.5rem;
    border-radius: 10px;
    transition: .3s linear;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 10px;
    transition: .3s linear;
    cursor: pointer;
   
}

.projects_item_header {
   
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    justify-content: flex-start;
    color: #000;
    font-size: 1rem;
    text-align: left;
    font-family: 'Comfortaa', sans-serif;
    cursor: pointer;

}

.projects {
   
   height: 20rem;
    /* max-width: 20rem; */
    padding-top: 1rem;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    overflow-y: scroll;
}


.projects::-webkit-scrollbar {
    display: none;
}



.projects_names {
    /* background-color: black;
    color: white; */
    padding: 1vh;
    border-radius: 0.5rem;
    border: 1px solid black;
    /* max-width: 90%; */
    word-wrap: break-word;
    transition: .3s linear;
}

.projects_names>p {
    width: 90%;
}

.projects_names:hover {
    background-color: #000;
    color: #EFEAE6;
}