.files_table>{
    
}

.css-pjjt8i-MuiToolbar-root{
    background-color: rgb(211, 230, 243)!important;
}

.css-1azl6jz-MuiTableCell-root{
    background-color: white!important;
}
.css-10cbwbc-MuiTableRow-root.Mui-selected{
    background-color: rgba(211, 230, 243,0.6)!important;
}